
body{
   margin: 0px;
   padding: 0px;
   background-color: rgb(24, 24, 24);
   background-image: url(../4EC_logo_dark.png);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   position: relative; /* or any other positioning value */
   color: white;
   background-size: cover;
  
   font-family: 'Gruppo', sans-serif;
}


 

 
.logo{
   width: 1000px;
   height: 50px;
   display: flex;

   position: fixed;
   top: 0px;
}
.logo img{
   margin-top: 7px;
   width: 32px;
   height: 32px;
   margin-left: 15px;
}
.logo h1{
   vertical-align: middle;
   color: #cccccc;
   padding-left: 5px;
   padding-top: 6px;
}
h1{
   color: white;
   margin-top: 5px;
   font-size: 20px;
   font-family: 'Abel', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
   
   
}
a{
   text-decoration: none;
   color: white;
}
h2{
   color: white;
   font-family: 'Gruppo', sans-serif;
}
h3{
   color: #dddcdc;
   font-family: 'Gruppo', sans-serif;
   margin-left: 30px;
}
#wrapper{
   display: inline-block;
   padding-top: 50px;
   /* padding-left: 60px; */
   width: 400px;
}
.wrap{
   margin-left: 10px;
   display: inline-block;
   vertical-align: top;
   /* background-color: #333333; */
   padding: 10px 10px 40px 10px;
   position: fixed;
}
.wrap h3{
   margin-bottom: 2px;
   margin-top: 30px;
}

.goal{
   display: block;
   color: rgb(204, 203, 203);
}
a.goal{
   margin-left: 30px;
   margin-right: 30px;
   padding: 15px 20px 0px 20px;
   text-decoration: none;
}

#content{
   width: 800px;
   margin: auto;
   background-color: #333;
   
}
