@font-face {
    font-family: Allura;
    src: url(Allura-Regular.ttf);
}
a{
    color:rgb(225, 194, 154);
    text-decoration: none;
}
body{
    background-color: #1c1c1c;
    background-image: url('img/rose2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ccc;
    font-family: 'Helvetica', sans-serif;
    padding: 0px;
    margin: 0px;
    
}
#menu li::marker {
    color: rgb(214, 118, 118); /* Change the color to red */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}


.r{
    list-style-type: upper-roman;
  
}
.a{list-style-type: upper-alpha;}
.center{
    text-align:center;
}
.citation{
    text-align: right; 
    font-size:14px;
    margin-right: 50px;
}
#container{
    display: flex;
}
h1{
    color: #eee;
}
#colors{
    width: 700px;
    margin:auto;
    border: 1px solid #555;
    font-size: 11px;
}

.content{
    width: 700px;
    margin: auto;
}
#content-background{
    width: 800px;
    margin-left: 400px;
    background-color: rgba(30, 30, 30, .7);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 10px;
    font-size: 14px;

}
.grid-item {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
}
hr{
    border: 1px rgb(168, 35, 35) solid;
    margin-top: 40px;
}
#matrix-container {
    display: grid;
    grid-template-columns: repeat(20, 3fr);
    gap: 4px;
}
.matrix-item {
    padding: 4px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 11px;
}
.key {
    width: 30px;
    height: 20px;
    margin-right: 15px;
}
.key-holder{
    display: flex;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
}
.red-stanza {
    background-color: red;
}
.white-stanza {
    background-color: white;
    color: black;
}
.red-white-stanza {
    background-color:rgb(238, 191, 131);
    color:rgb(0, 0, 0);
}
li{
    /* color: #aaa; */
    margin-bottom: 20px;
    /* font-family: monospace; */
    /* font-size: 15px; */
}
.img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Adjust the gap between images */
}

.img-grid img {
    /* width: 100%; */
    height: auto;
    object-fit: cover; /* Ensures images fill the squares without distortion */
}
.logo{
    width: 1000px;
    height: 50px;
    display: flex;
 
    position: fixed;
    top: 0px;
 }
 .logo img{
    margin-top: 7px;
    width: 32px;
    height: 32px;
    margin-left: 15px;
 }
 .logo h1{
    vertical-align: middle;
    padding-left: 5px;
    padding-top: 6px;
    color: #cccccc;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Abel', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
 }

#menu{
    position: fixed;
    top: 140px;
    width: 300px;
    height: 100vh;
    padding-left: 20px;

}
#menu a{
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    color:rgb(188, 172, 154);
}
#planets{
    display: flex;
}
.planet{
    width: 350px;
    text-align: center;
}
.large-symbol{
    text-align:center;
    font-size: 140px;
    margin:40px;
}
.large-symbols{
    display: flex;
    justify-content: space-between;
}
.large-symbol-pair{
    width: 700px;
    display:flex;
    border: 1px solid #ccc;
}
.large-symbol-case{
    text-align:center;
    width: 350px;
    border: 1px solid #ccc;
}
.large-symbol-case h3{
    margin: 0px;
    margin-top:10px;
}
p{
    line-height: 24px;
}


.symbol{
    text-align:center;
    font-size: 80px;
    margin: 40px;
}
.symbols{
    display: flex;
    justify-content: space-between;
}
.symbol-pair{
    width: 300px;
    display:flex;
    border: 1px solid #ccc;
}
.symbol-case{
    text-align:center;
    width: 150px;
    border: 1px solid #ccc;
}
.symbol-case h3{
    margin: 0px;
    margin-top:10px;
}


.red{
    color: rgb(255, 93, 93);
}
.quote{
    color: #afafaf;
    margin-left: 20px;
    font-family: monospace;
    font-size: 15px;
}
.shake{
    margin: 0px;
    white-space: pre;
}
.stanza{
    display:flex;
}
.stan-num{
    width: 100px;
    line-height: 112px;
    

}
.stan{
    width: 5s00px;
}
table{
    width: 900px;
}
#title{
    /* background-color: #0f0c0c; */
    text-align: center;
    line-height: 30px;
    letter-spacing: 8px;
    /* padding: 5px; */
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title-allura{
    font-family: Allura;
    font-size: 24px;
    letter-spacing: 0px;
    margin-right: 12px;
}
.title-hr{
    border: 1px solid #eee;
    margin-bottom: 40px;
}
#title p{
    margin: 0px;
}
.title-venus-space{
    letter-spacing: 18px;
}
#title h1{
    /* color: rgb(138, 133, 122);  */
    text-align: center; 
    
    line-height: 34px;
    font-weight: bold;
}
#title h3{
    font-size: 26px;
    margin: 0px;
    color: rgb(172, 161, 137); 
}
.title-space{
    letter-spacing: 32px;

}
#title-space{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255); 
    /* background: -webkit-linear-gradient(#eee, #510707);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

th{
    padding:5px;
    text-align: left;
}
td{
    padding: 5px;
}
.white{
    color: white;

}